[Desktop Entry]
Encoding=UTF-8
Version=0.9.7
Type=Application
Name=Appimage integration
Comment=Appimage integration
Exec=/home/user/.local/bin/appimage-integrator/appimage-integrator-observer.sh
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
