[Desktop Entry]
Encoding=UTF-8
Version=0.9.7
Type=Application
Name=Yapps Observer
Comment=Observing application changes for yapps launcher
Exec=yapps-observer
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
