# ~/.config/systemd/user/hyprsunset.service
[Unit]
Description=Hyprsunset Nightlight

[Service]
ExecStart=/usr/bin/hyprsunset
Restart=always

[Install]
WantedBy=default.target
