[Desktop Entry]
Encoding=UTF-8
Version=0.9.7
Type=Application
Name=Ylauncher Observer
Comment=Detect application changes for Ylauncher
Exec=ylauncher-observer
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
